.main.dark .list {
  background-color: black;
  border-color: gray;
  color: gray;
}

.main.dark .list-item.selected {
  color: white;
}

.main.dark .menu-button-content {
  stroke: white;
}

.main.dark .menu-button.active > .menu-button-content,
.main.dark.list-visible .menu-button-content {
  stroke: gray;
}

.main.dark .settings-button-content {
  fill: white;
}

.main.dark .settings-button.active > .settings-button-content,
.main.dark.preferences-visible .settings-button-content {
  fill: gray;
}

.main.dark .clock {
  background-color: black;
}

.main.dark .clock-bezel {
  stroke: white;
}

.main.dark .clock-dial-text {
  fill: white;
}

.main.dark .clock-center-point {
  fill: white;
}

.main.dark .clock-button {
  fill: lightgray;
}

.main.dark .clock-button.active {
  fill: gray;
}

.main.dark .clock-point-circle {
  fill: black;
  stroke: white;
}

.main.dark .clock-point-text {
  fill: white;
}

.main.dark .clock.rotating .clock-bezel {
  stroke: lightgray;
}

.main.dark .clock.rotating .clock-point-circle {
  stroke: lightgray;
}

.main.dark .preferences {
  background-color: black;
  border-color: gray;
  color: white;
}

.main.dark .preferences-hide-button.active {
  color: gray;
}

.main.dark .preferences-line {
  border-color: gray;
}
