body {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  margin: 0;
  overflow: hidden;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.main {
  height: 100%;
  position: fixed;
  transition: transform .3s ease-in-out;
  width: 100%;
}

.main.list-visible {
  transform: translateX(168px);
}

.main.preferences-visible {
  transform: translateX(-336px);
}

@media screen and (max-width: 336px) {
  .main.preferences-visible {
    transform: translateX(-100%);
  }
}

.list {
  border-right: 1px solid lightgray;
  box-sizing: border-box;
  color: lightgray;
  font-family: Helvetica;
  height: 100%;
  line-height: 26px;
  overflow-y: auto;
  padding: 4px 8px;
  position: absolute;
  transform: translateX(-168px);
  white-space: nowrap;
  width: 168px;
}

.list-content {
  overflow-x: hidden;
}

.list-item {
  cursor: pointer;
}

.list-item.selected {
  color: black;
}

.menu-button {
  cursor: pointer;
  height: 48px;
  position: absolute;
  touch-action: manipulation;
  width: 48px;
  z-index: 1;
}

.menu-button-content {
  pointer-events: none;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 3;
}

.menu-button.active > .menu-button-content,
.main.list-visible .menu-button-content {
  stroke: lightgray;
}

.settings-button {
  cursor: pointer;
  height: 48px;
  position: absolute;
  right: 0;
  touch-action: manipulation;
  width: 48px;
  z-index: 1;
}

.settings-button-content {
  fill: black;
  pointer-events: none;
}

.settings-button.active > .settings-button-content,
.main.preferences-visible .settings-button-content {
  fill: lightgray;
}

.clock {
  cursor: default;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.clock-component {
  pointer-events: none;
}

.clock-bezel {
  fill: transparent;
  stroke: black;
}

.clock-dial-text {
  font-family: Helvetica;
  text-anchor: middle;
}

.clock-center-point {
  fill: black;
}

.clock-button-container {
  visibility: hidden;
}

.clock-button {
  font-family: 'Courier New';
  text-anchor: middle;
}

.clock-button {
  fill: gray;
}

.clock-button.active {
  fill: lightgray;
}

.clock-reset-button {
  cursor: pointer;
}

.clock-point-circle {
  fill: white;
  stroke: black;
}

.clock-point-text {
  font-family: Helvetica;
  text-anchor: middle;
}

.clock.rotating .clock-bezel {
  stroke: gray;
}

.clock.rotating .clock-center-point {
  visibility: hidden;
}

.clock.rotating .clock-button-container {
  visibility: visible;
}

.clock.rotating .clock-button {
  pointer-events: auto;
}

.main.list-visible .clock.rotating .clock-button {
  pointer-events: none;
}

.clock.rotating .clock-point-circle {
  stroke: gray;
}

.preferences {
  -webkit-overflow-scrolling: touch;
  border-left: 1px solid lightgray;
  box-sizing: border-box;
  font-family: Helvetica;
  height: 100%;
  overflow-y: auto;
  padding: 4px 8px;
  position: absolute;
  right: 0;
  transform: translateX(336px);
  width: 336px;
}

@media screen and (max-width: 336px) {
  .preferences {
    transform: translateX(100%);
    width: 100%;
  }
}

.preferences-header::after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

.preferences-title {
  display: inline-block;
  font-size: 21px;
  margin: .67em 0;
}

.preferences-hide-button {
  cursor: pointer;
  float: right;
  font-size: 21px;
  padding: .67em;
  touch-action: manipulation;
}

.preferences-hide-button.active {
  color: lightgray;
}

.preferences-hide-button::before {
  content: '×';
}

.preferences-line {
  border: .5px solid lightgray;
  margin: 0;
}

.preferences-fieldset {
  line-height: 26px;
  margin: 1.5em 0;
}

.preferences-legend {
  font-weight: bold;
}

.preferences-inputs {
  margin: 0 .67em;
}

.preferences-inputs-geonames:not([data-state='loaded']) > * {
  display: none;
}

.preferences-inputs-geonames[data-state='loading']::before {
  content: 'GeoNames: Loading...';
}

.preferences-inputs-geonames[data-state='error']::before {
  color: red;
  content: 'GeoNames: Load Error';
}

.preferences-input-label {
  display: block;
}

.preferences-input-license {
  color: gray;
  font-size: 9px;
  line-height: 10.5px;
  padding-bottom: 10.5px;
  padding-left: 20px;
  white-space: nowrap;
}

.preferences-input-license > a {
  color: gray;
}

.preferences-table {
  cursor: default;
  font-size: 14px;
  margin: 0 4px;
}

.preferences-table.disabled {
  opacity: .3;
  pointer-events: none;
}

.preferences-table-head {
  background-color: lightgray;
  border-radius: 2px 2px 0 0;
}

.preferences-table-body {
  border: .5px solid lightgray;
}

.preferences-table-row {
  white-space: nowrap;
}

.preferences-table-body > .preferences-table-row {
  border: .5px solid lightgray;
}

.preferences-table-row::after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

.preferences-table-data {
  box-sizing: border-box;
  float: left;
  overflow: hidden;
  padding: 0 4px;
  text-overflow: ellipsis;
}

.preferences-table-data.hide {
  visibility: hidden;
}

.preferences-table[data-type='geonames'] .preferences-table-data:nth-child(1) {
  width: 42%;
}

.preferences-table[data-type='geonames'] .preferences-table-data:nth-child(2) {
  padding-right: 0;
  width: 49%;
}

.preferences-table[data-type='geonames'] .preferences-table-data:nth-child(3) {
  font-size: 16px;
  max-width: 9%;
  text-align: center;
  width: 100%;
}

.preferences-table-delete-button.active {
  color: lightgray;
}

.preferences-table-controls {
  margin: 4px;
}

.preferences-table-controls.disabled {
  opacity: .3;
  pointer-events: none;
}

.preferences-table-controls::after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

.preferences-table-select {
  height: 21.5px;
  text-overflow: ellipsis;
  vertical-align: middle;
  width: 100%;
}

.preferences-table-controls[data-type='geonames'] .preferences-table-data:nth-child(1) {
  padding-left: 0;
  width: 42%;
}

.preferences-table-controls[data-type='geonames'] .preferences-table-data:nth-child(2) {
  padding: 0 2px;
  width: 42%;
}

.preferences-table-controls[data-type='geonames'] .preferences-table-data:nth-child(3) {
  padding-right: 0;
  width: 16%;
}

.preferences-table-add-button {
  height: 21.5px;
  line-height: normal;
  padding-left: 0;
  padding-right: 0;
  vertical-align: middle;
  width: 100%;
}
