* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.hide {
  display: none;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#container {
  -webkit-transform: translateX(-168px);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -ms-transform: translateX(-168px);
  height: 100%;
  position: absolute;
  transform: translateX(-168px);
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

#container.open {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

#list-container {
  border-right: 1px solid lightgray;
  color: lightgray;
  float: left;
  font-family: Helvetica;
  height: 100%;
  line-height: 26px;
  overflow-y: auto;
  padding: 0 8px;
  position: relative;
  vertical-align: text-bottom;
  white-space: nowrap;
  width: 168px;
}

#list-container.unscrollable {
  overflow-y: hidden;
  touch-action: none;
}

#list-container > * {
  overflow-x: hidden;
}

.list-item {
  cursor: pointer;
}

.list-selected {
  color: black;
}

#bars {
  cursor: pointer;
  height: 48px;
  position: absolute;
  width: 48px;
}

#bars g {
  stroke: black;
  stroke-linecap: round;
  stroke-width: 3px;
}

#bars:active g, .open #bars g {
  stroke: lightgray;
}

#clock-container {
  -webkit-transform: translateX(168px);
  -ms-transform: translateX(168px);
  height: 100%;
  overflow: hidden;
  position: absolute;
  transform: translateX(168px);
  width: 100%;
}

#clock {
  cursor: default;
  font-family: Helvetica;
  height: 100%;
  width: 100%;
}

#clock > * {
  pointer-events: none;
}

#clock .center-time,
#clock .center-reset {
  pointer-events: auto;
}

#clock .text {
  dominant-baseline: central;
  text-anchor: middle;
}

#clock .circle {
  fill: white;
  stroke: black;
}

#clock .center-spin {
  fill: gray;
  font-family: 'Courier New';
  visibility: hidden;
}

#clock .center-reset {
  cursor: pointer;
}

#clock.spin .circle {
  stroke: gray;
}

#clock.spin .center-point {
  visibility: hidden;
}

#clock.spin .center-spin {
  visibility: visible;
}
