* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.hide {
  display: none;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#side-panel {
  -webkit-transition: left 0.3s;
  -o-transition: left 0.3s;
  height: 100%;
  position: absolute;
  transition: left 0.3s;
}

#side-panel.open {
  left: 0px;
}

#side-panel.close {
  left: -168px;
}

#list-container {
  color: lightgray;
  float: left;
  font-family: Helvetica;
  height: 100%;
  line-height: 26px;
  overflow-y: auto;
  padding: 0px 8px;
  position: relative;
  vertical-align: text-bottom;
  white-space: nowrap;
  width: 168px;
}

#list-container.unscrollable {
  overflow-y: hidden;
}

.list-item {
  cursor: pointer;
}

.list-selected {
  color: black;
}

#border-container {
  float: left;
  font-family: Courier;
  font-size: 26px;
  height: 100%;
  width: 32px;
}

#border {
  background-color: lightgray;
  display: table;
  height: 100%;
  width: 100%;
}

#border:active {
  opacity: 0.6;
}

#border.hover {
  opacity: 0.6;
}

#border-text-container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#side-panel.open #border-text:before {
  content: "<";
}

#side-panel.close #border-text:before {
  content: ">";
}

#clock-container {
  -webkit-transition: margin-left 0.3s, width 0.3s;
  -o-transition: margin-left 0.3s, width 0.3s;
  height: 100%;
  overflow: hidden;
  position: absolute;
  transition: margin-left 0.3s, width 0.3s;
}

#clock-container.open {
  margin-left: 200px;
  width: calc(100% - 200px);
}

#clock-container.close {
  margin-left: 32px;
  width: calc(100% - 32px);
}

#clock {
  cursor: default;
  font-family: Helvetica;
  height: 100%;
  width: 100%;
}

#clock.loading {
  opacity: 0.3;
}

#clock.loaded {
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  opacity: 1;
  transition: opacity 0.5s;
}

#clock .text {
  dominant-baseline: central;
  text-anchor: middle;
}

#clock .circle {
  fill: white;
  stroke: black;
}